{{#*inline "page"}}
  <p>Tired of your URLs being pathetically small? We have the solution. Our tried-and-tested UltraLength™ technology can render even the tiniest of URLs gigantically humongous.</p>
  <p>To invoke this revolutionary technique, simply enter your URL into the box below.</p>
  <p>Satisfaction guaranteed, or your money back.</p>
  <form action="/" method="post">
    <input type="url" name="url">
    <button type="submit">Submit</button>
  </form>
{{/inline}}
{{> base}}
