{{#*inline "page"}}
  <h2>Congratulations!</h2>
  <p><a href="https://{{host}}/??????????">https://{{host}}/??????????</a> now redirects to <a href="{{destination_url}}">{{destination_url}}</a>.</p>
{{/inline}}
{{> base}}
